.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px double black; */
}

.header-bg {
  margin: 10px;
}

.nav-items {
  padding: 10px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  list-style: none;
  margin: 10px;
}

.search {
  padding: 10px;
}
.res-card {
  padding: 2px;
  width: 240px;
  margin: 3px;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 4px;
}

#res-cuisine {
  text-wrap: wrap;
}
.res-card > h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

.res-img {
  border-radius: 5px;
}

.res-card > h4 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 10px;
  font-style: normal;
  color: rgb(99, 99, 99);
}

.res-card:hover {
  border: 2px solid black;
  cursor: pointer;
}

.res-img {
  align-items: center;
  height: 50%;
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter-btn {
  margin: 10px;
  padding: 10px;
  border: none;
  color: aliceblue;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(29, 29, 204, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  height: 200px;
  width: 150px;
  margin: 10px;
  background-color: rgb(203, 203, 203);
}

.log-btn {
  margin: 10px;
  color: rgb(255, 255, 255);
  width: 80px;
  height: auto;
  background-color: rgb(239, 113, 45);
  border-radius: 20px;
  cursor: pointer;
}

.filter {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
}

.search-bar > input {
  height: 30px;
  width: 300px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-bar > button {
  height: 30px;
  width: 80px;
  margin: 18px 20px;
  color: white;
  background-color: rgb(8, 109, 8);
  border-radius: 15px;
  cursor: pointer;
}
