.header {
  display: flex;
  justify-content: space-between;
  border: 1px double black;
}

.logo {
  width: 40%;
  height: 100%;
}

.nav-items {
  padding: 10px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  list-style: none;
  margin: 10px;
}

.search {
  padding: 10px;
}
.res-card {
  padding: 2px;
  width: 240px;
  margin: 3px;
  border-radius: 10px;
  border: 2px white;
}

#res-cuisine {
  text-wrap: wrap;
}
.res-card > h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 25px;
}

.res-img {
  border-radius: 5px;
}

.res-card > h4 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 10px;
  font-style: normal;
  color: rgb(99, 99, 99);
}

.res-card:hover {
  border: 2px solid black;
  cursor: pointer;
}

.res-img {
  align-items: center;
  height: 50%;
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
